// Color Variables
$primary: #46443f;
$primary-hover: #ededeb;

$secondary: #ebd29a;
$secondary-hover: darken(#ebd29a, 15%);

$tertiary: #FF8A00;
$tertiary-hover: darken(#FF8A00, 15%);

$disable: #abb6c3;
$white: #ffffff;
